
@{
    ViewData["Title"] = "About";
}
<head>
    <link rel="stylesheet" href="~/css/books.css" />
</head>
<body>
    <h1 class="sampleTitle">        
        About
    </h1>

Sample web app that queries and returns results from a search index using Azure Cognitive Search.

</body>